@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lilita One', sans-serif;
}

html {
  font-size: 62.5%;
}


/* --- Form Section  --- */

.form-btn a{
  text-decoration: none;
}

.form-container {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #00c6ff, #0072ff);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.form {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.form input {
  font-family: 'Arial', sans-serif;
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

.form input:focus {
  outline: none;
  border-color: #0072ff;
}

.form-btn {
  font-family: 'Arial', sans-serif;
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 5px;
  background-color: #0072ff;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-btn:hover {
  background-color: #005bb5;
}

.p-tag {
  color: red;
  margin-bottom: 1rem;
  font-weight: bold;
}


/*  ---  Media Queries ---  */

@media (min-width:450px){
  
.form-btn a{
  text-decoration: none;
}

.form-container {
  background: linear-gradient(to right, #00c6ff, #0072ff);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.form {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 400px;
  height: 50vh;
  padding-top: 9em;
}

.form input {
  font-family: 'Arial', sans-serif;
  width: 50%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

.form input:focus {
  outline: none;
  border-color: #0072ff;
}

.form-btn {
  font-family: 'Arial', sans-serif;
  width: 50%;
  padding: 0.75rem;
  border: none;
  border-radius: 5px;
  background-color: #0072ff;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-btn:hover {
  background-color: #005bb5;
}

.p-tag {
  color: red;
  margin-bottom: 1rem;
  font-weight: bold;
}

}
